
# Created by https://www.gitignore.io/api/ansible,terraform

### Ansible ###
*.retry

### Terraform ###
# Compiled files
*.tfstate
*.tfstate.*

# Module directory
.terraform/

# .tfvars files
*.tfvars

ssh/
# End of https://www.gitignore.io/api/ansible,terraform
